* {
  box-sizing: border-box;
}
html,
body,
body div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
table,
caption,
thead,
tr,
th,
td,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}
img,
object,
embed {
  max-width: 100%;
}
img {
  display: block;
}
ul {
  list-style: none;
}
