@import './variables.scss';

@mixin list() {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

@mixin descr() {
  font-size: 22px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: $descrColor;
  margin-bottom: 15px;
}

@mixin name($nameSize, $marginBottom) {
  font-size: $nameSize;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: $nameColor;
  margin-bottom: $marginBottom;
}

@mixin item($marginBotttom) {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: auto;
  padding: 10px;
  transition: 200ms linear;
  background-color: $itemBackgroundColor;

  margin-bottom: $marginBotttom;

  &:hover {
    transition: 200ms linear;
    box-shadow: 0 0 12px 12px rgba(82, 77, 34, 0.25);
  }
}

@mixin link() {
  font-family: 'Gilda Display', serif;
  font-size: 16px;
  font-weight: bold;
  color: $linkColor;
  cursor: pointer;
  text-decoration: none;
  padding: 3px 5px;
  border-radius: 5px;
  align-self: flex-end;
  transition: 0.5s;
  overflow: hidden;

  &:hover {
    background: $nameColor;
    transition: 0.5s;
    box-shadow: 0 0 5px$linkHover, 0 0 25px $linkHover, 0 0 50px $linkHover,
      0 0 200px $linkHover;
  }
}

@mixin artist() {
  font-family: 'Gilda Display', serif;
  font-weight: bold;
  color: $artistColor;
  font-size: 18px;
  margin-bottom: 10px;
}

@mixin button() {
  cursor: pointer;
  outline: none;
}
