$descrColor: rgb(236, 222, 90);
$nameColor: rgb(236, 222, 90);
$itemBackgroundColor: rgba(190, 177, 116, 0.9);
$linkColor: rgb(172, 16, 5);
$artistColor: rgb(206, 108, 16);
$inputShadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$inputColor: rgb(230, 133, 16);
$textColor: rgb(246, 250, 3);
$navColor: rgb(228, 198, 159);
$navActiveColor: rgb(240, 158, 8);
